# Arquivos de ambiente
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log
yarn-error.log

# Java
target/
*.class
*.log
*.jar
!**/src/main/**/target/
!**/src/test/**/target/

# React
build/
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo
