# ==============================
# 🔒 ARQUIVOS DE AMBIENTE
# ==============================
.env
.env.*
!.env.example
.env.local
.env.production

# ==============================
# 🧩 NODE
# ==============================
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# ==============================
# ☕ JAVA (caso use libs Java)
# ==============================
target/
*.class
*.log
*.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ==============================
# ⚛️ REACT (se tiver frontend integrado)
# ==============================
build/
.DS_Store

# ==============================
# 💻 IDEs / SISTEMAS
# ==============================
.vscode/
.idea/
*.swp
*.swo

# ==============================
# 📦 DEPLOY / HOSTS
# ==============================
.vercel
